body {
  background-color: #fff5d9;
}

main {
  padding: 40px 0;
}

.BannersContainer {
  display: flex;
  justify-content: space-evenly;

  .HeroBanner__Container {
    width: 40%;
  }

  @media (max-width: 768px) {
    flex-wrap: wrap;

    .HeroBanner__Container {
      width: 100%;
    }
  }
}

.FullWidthBanner {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.HeroContainer {
  display: flex;
  justify-content: center;
}

.Description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  background-color: #d99d87;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  color: #fff;

  p {
    margin: 0;
    padding: 10px 5px;
  }
}